---
import Button from "../Button/index.astro";
---

<section>
  <article>
    <h2>Porque Elegirnos?</h2>
    <ul>
      <li>Atencion rapida y directa</li>
      <li>Presupuestos claros y sin sorpresas</li>
      <li>Profesionales con experiencia comprobada</li>
      <li>Resultados de calidad garantizada</li>
    </ul>
  </article>
  <article>
    <h2>Solicita el servicio!</h2>
    <p>
      Contactanos ahora mismo y recibe una respuesta rapida y atencion
      personalizada.
    </p>
    <Button text="Solicitar presupuesto" />
  </article>
</section>
