---
const today = new Date();
---

<footer class="bg-sky-700 text-white pt-16 pb-8 mt-10">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-12 mb-12">
      <!-- Sobre Nosotros -->
      <div>
        <h3 class="text-xl font-bold mb-6">About Us</h3>
        <p class="text-white leading-relaxed">
          We are dedicated to providing top-notch home services with a focus on
          quality, reliability, and customer satisfaction.
        </p>
      </div>

      <!-- Enlaces -->
      <div>
        <h3 class="text-xl font-bold mb-6">Links</h3>
        <ul class="flex flex-col gap-3">
          <li>
            <a href="/" class="text-white hover:text-white transition-colors"
              >Home</a
            >
          </li>
          <li>
            <a
              href="/servicios"
              class="text-white hover:text-white transition-colors">Services</a
            >
          </li>
          <li>
            <a
              href="/#porque-elegirnos"
              class="text-white hover:text-white transition-colors"
              >Why Choose Us</a
            >
          </li>
          <li>
            <a
              href="/contacto"
              class="text-white hover:text-white transition-colors"
              >Contact Us</a
            >
          </li>
        </ul>
      </div>

      <!-- Contacto -->
      <div>
        <h3 class="text-xl font-bold mb-6">Contact</h3>
        <ul class="flex flex-col gap-3 text-white">
          <li class="flex items-center gap-2">
            <span>0466 018 580</span>
          </li>
          <li class="flex items-center gap-2">
            <span> Monday-Sunday 7:00-18:00</span>
          </li>
          <li class="flex items-center gap-2">
            <span>crmmultiservises@hotmail.com</span>
          </li>
          <li class="flex items-center gap-2">
            <span>6 Fielding Street, Mount Gravatt</span>
          </li>
          <li class="flex items-center gap-2">
            <span>Brisbane-Australia</span>
          </li>
        </ul>
      </div>

      <!-- Garantías y Acción -->
      <div>
        <h3 class="text-xl font-bold mb-6">Garantía</h3>
        <ul class="flex flex-col gap-3 mb-6 text-white">
          <li class="flex items-center gap-2">
            <span class="text-green-500">✓</span> Customized Solutions
          </li>
          <li class="flex items-center gap-2">
            <span class="text-green-500">✓</span> Assured Quality
          </li>
          <li class="flex items-center gap-2">
            <span class="text-green-500">✓</span> Satisfaction Guaranteed
          </li>
        </ul>
      </div>
    </div>

    <div class="border-t border-white pt-8 mt-8 text-center text-white text-sm">
      <p>
        &copy; {today.getFullYear()} Roldans. All rights reserved.
      </p>
    </div>
  </div>
</footer>
