---
import HeaderLink from "./HeaderLink.astro";
import Button from "../components/Button/index.astro";
---

<header>
  <nav class="flex flex-row items-center px-10">
    <a href="/"><h2 class="text-[64px] font-bold mr-8">LOGO</h2></a>
    <div class="flex flex-row items-center gap-5">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Service</HeaderLink>
      <HeaderLink href="/about">Contacto</HeaderLink>
    </div>
    <div class="ml-auto">
      <Button text="Solicitar presupuesto" />
    </div>
  </nav>
</header>
