---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={"Construcciones"} description={"SITE_DESCRIPTION"} />
  </head>
  <body>
    <Header />
    <main>
      {(<slot />)}
    </main>
    <Footer />
  </body>
</html>
